<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="forms:editrule" type="Sitecore.Support.Forms.Core.Commands.EditRule,Sitecore.Support.77973" patch:instead="command[@name='forms:editrule']"/>
    </commands>
  </sitecore>
</configuration>